extends templates/layout
include mixins/video

block content
    form(method="GET")
        input(placeholder="Search by Title", name="keyword", type="text", maxlength=80)
        input(type="submit", value="Search")
    div
        each video in videos 
            +video(video)