header
    a(href="/").header__ci
        i.fab.fa-youtube
        span  WeTube
    nav
        ul
            li
                 a(href="/search")
                    i.fas.fa-search
            if loggedIn
                li
                    a(href="/video/upload") Upload Video
                li 
                    a(href="/user/edit") Edit Profile
                li 
                    a(href="/user/logout") Logout
                li
                    a(href=`/user/${loggedInUser._id}`)
                        if loggedInUser.avatarUrl === ""
                            span 😀
                        else
                            img.header__avatar(src=loggedInUser.avatarUrl)
            else
                li
                    a(href="/join") Join
                li
                    a(href="/login") Login