div.social-login
    a(href="/user/github/start").social__btn.social__btn--github
        i.fab.fa-github
        |  Continue with Github
    a(href="/user/kakao/start").social__btn.social__btn--kakaotalk
        i.xi-kakaotalk
        |  Continue with KakaoTalk 
    a(href="/user/kakao/start").social__btn.social__btn--naver
        i.xi-naver
        |  Continue with Naver 