include ../mixins/message

doctype html
html(lang="ko")
    include ../partials/head
    body
        if messages.error 
            +message("error", messages.error)
        if messages.ok 
            +message("ok", messages.ok)
        if messages.info 
            +message("info", messages.info)
        include ../partials/header
        main
            block content
        include ../partials/footer
    script(src="/static/js/main.js") 
    block scripts
        